@import '../../styles/mixins';
@import '../../styles/helper';
.example{
  background-color: #282c34;
  font-size: p2m(16);
  .placeholder{

  }
  .example-tt{
    background-color: #f2fcff;
    .example-tt-wp{
      @extend %u-center;
      padding: p2m(20);

    }
  }
  .example-wp{
    position: relative;
    overflow: hidden;
    @extend %u-center;
    padding: p2m(20);
  }
  .key{
    color: #1E88E5;
  }
  .code{
    background: #EEEEEE;
    border: 1px solid #9E9E9E;
    padding: 0.2em 0.6em;
    color: #444c49;
    border-radius: 0.2em;
    margin: 0 0.4em;
  }
  pre[class*='language-'] {
    background-color: #272822;
    padding: 0em;
    margin: 0em 0;
    overflow: auto;
    border-radius: 0em;
  }
  .example-img{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: p2m(562.5);
    .lazy{
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.transition-enter {
  opacity: 0;
  transform: scale(1.04);
}

.transition-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 400ms, transform 400ms;
}
