@import '../../styles/mixins';
@import '../../styles/helper';
.header{
  background-color: #282c34;
  color: #fff;
  padding: p2m(20);
  .header-wp{
    @extend %u-center;
  }
  .header-tt{
    font-size: p2m(50);
    color:#61dafb;
    margin-bottom: p2m(20);
    .c2{
      color:#c6f3ff;
    }
  }

  .header-desc{
    font-size: p2m(20);
  }
}