%u-cf:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}

%u-cf {
  zoom: 1;
}

%u-cfli li:after {
  @extend %u-cf:after;
}
%u-cfli li {
  @extend %u-cf;
}
%u-fl {
  float: left;
}

%u-fr {
  float: right;
}

%u-hide {
  display: none;
}

%u-show {
  display: block;
}

%u-ellipsis {
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
}

%u-linebreak {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}

%u-nowrap {
  white-space: nowrap;
}

%u-justify {
  text-align: justify;
  text-justify: inter-ideograph;
}

%u-indent {
  text-indent: -9999px;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
}

%u-center {
  margin-left: auto;
  margin-right: auto;
}
%u-imgcenter{
  position: absolute;
  min-height: 100%;
  max-height: 140%;
  min-width: 100%;
  left: 50%;
  top: 50%;
  height: auto;
  width: auto;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}
%u-text {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .15);
}

%u-center{
  max-width: p2m(1000);
  margin: 0 auto;
}