.placeholder{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1d1f25;
  text-align: center;
  font-size: 1em;
  color: #bbb;
  display: table;
  .placeholder-text{
    display: table-cell;
    vertical-align: middle;
  }
  .placeholder-img{
    position:absolute;
    width: 20%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
  }
}