@import './mixins';
.link {
  padding: p2m(0 10);
  &:after {
    position: relative;
    content: '↗';
    color: #f92672;
  }
}
.link-a{
  color: rgb(212, 231, 43);
}
.strong {
  padding: p2m(0 10);
  color: #f92672;
}
