@import '../../styles/mixins';
.title{
  position: relative;
  font-size: p2m(22);
  font-weight: 700;
  border-left: p2m(8) solid #61dafb;
  // border-radius: p2m(4);
  padding-left: p2m(6);
  color: #292c35;
  box-sizing: border-box;
}

.sub{
  border-left: p2m(6) solid #a6e32e;
  color: #fff;
  margin-bottom: p2m(10);
}
.htt{
  border-left: p2m(6) solid #a6e32e;
  color: #fff;
  margin-bottom: 0.2rem;
  margin-top: 0.4rem;
}